:root {
	--bs-primary-rgb: 255, 193, 7;

	/* Anchors */
	--bs-link-color-rgb: 30, 30, 30;
	--bs-link-hover-color-rgb: 60, 60, 60;
}

body {
	font-family: 'Overlock', sans-serif;
	font-weight: 400;
	font-style: normal;
}
