name: Run CI
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: true

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          check-latest: true
          node-version: 24.11.1

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
          sudo apt install -y libimage-exiftool-perl

      - name: Build
        run: pnpm build

      - name: Check code style
        run: |
          pnpm fmt
          git --no-pager diff --exit-code

      - name: CI tests
        run: pnpm test

      - name: Upload build
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: build
          path: |
            .
            !**/node_modules
            !cooklang/target
            !bootstrap/src/bootstrap

  upload:
    runs-on: ubuntu-latest
    needs: ci
    name: Upload
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: build
      - name: Write ssh key
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/ssh-key
          chmod 600 ~/.ssh/ssh-key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: Sync
        run: |
          # Make all directories
          ssh -i ~/.ssh/ssh-key -o StrictHostKeyChecking=accept-new "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST}}" "
            cd /var/www
            mkdir -p recipe-store
          "

          # rsync all relevant files
          rsync -vhaR --checksum --delete \
            -e "ssh -i ~/.ssh/ssh-key" \
            {backend,frontend,api,bootstrap,cooklang}/{dist/,package.json} \
            package.json pnpm-*.yaml \
            frontend/static/ frontend/src/base.html \
            "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST}}:/var/www/recipe-store/"

          ssh -i ~/.ssh/ssh-key "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST}}" /bin/bash << 'EOF'
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            cd /var/www/recipe-store
            corepack prepare
            corepack enable
            pnpm install --prod
            cd ..
            pm2 start recipe-store.config.js > /dev/null
          EOF
      - run: rm ~/.ssh/ssh-key
        if: always()
