name: Run CI
on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: true

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          check-latest: true
          node-version: 24.12.0

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile
          sudo apt install -y libimage-exiftool-perl

      - name: Build
        run: pnpm build

      - name: Check code style
        run: |
          pnpm fmt
          git --no-pager diff --exit-code

      - name: CI tests
        run: pnpm test

      - name: Upload build
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build
          path: |
            .
            !**/node_modules
            !cooklang/target
            !bootstrap/src/bootstrap

  upload:
    runs-on: ubuntu-latest
    needs: ci
    name: Upload
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Download build
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: build
      - name: Write ssh key
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/ssh-key
          chmod 600 ~/.ssh/ssh-key
          ssh-keygen -lf ~/.ssh/ssh-key
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
      - name: Sync
        run: |
          # Trust host public key
          echo "${{ secrets.SSH_HOST }} ${{ secrets.SSH_HOST_KEY }}" >> ~/.ssh/known_hosts
          ssh-keygen -Hf ~/.ssh/known_hosts

          # rsync all relevant files
          rsync -vhaR --checksum --delete \
            -e "ssh -i ~/.ssh/ssh-key" \
            {backend,frontend,api,bootstrap,cooklang}/{dist/,package.json} \
            package.json pnpm-*.yaml \
            frontend/static/ frontend/src/base.html \
            "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}:/opt/recipe-store/"

          ssh -i ~/.ssh/ssh-key "${{ secrets.SSH_USERNAME }}@${{ secrets.SSH_HOST }}" /bin/bash << 'EOF'
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            cd /opt/recipe-store
            corepack prepare
            corepack enable
            pnpm install --prod
            chown -R ${{ secrets.SSH_USERNAME }}:recipe-store-management node_modules
            chmod -R go-w node_modules
            sudo systemctl restart recipe-store.service
          EOF
      - run: rm ~/.ssh/ssh-key
        if: always()
